/* Container for the whole page */
div {
  font-family: Arial, sans-serif;
}

.title-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.title-button {
  background-color: #ffffff00;
  border: none;

  max-height: 50px;
  max-width: 50px;
}

.title-button img {
  max-width: 100%;  
  height: auto; 
}

.subtitle {
  color: #606060;
  font-size: 16px;
  margin-bottom: 20px;
}

.main-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

